.heroBanner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem 8rem;
    background-color: #edf7fa;
    color: #333;
    text-align: center;
    overflow: hidden;
}

.headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.logo {
    width: 250px;
    height: auto;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.homeWaves {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    z-index: 0;
    display: block;
}

.textContent {
    text-align: center;
    max-width: 600px;
}

.heroTitle {
    font-size: 2.2rem;
    font-weight: bolder;
    margin-bottom: 0.2rem;
    color: #333;
}

.heroSubtitle {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    color: #333;
}

.buttons .button--primary {
    background-color: #469BFF;
    color: #469BFF;
    padding: 5rem 2rem;
    font-size: 1.25rem;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.buttons .button--primary:hover {
    background-color: #3949ab;
    transform: scale(1.05);
}

.features {
    background-color: #2d3658;
    text-align: center;
    color: white;
    margin: 0;
    position: relative;
    z-index: 0;
}

.feature {
    background: none;
    color: white;
    border-radius: 10px;
    padding: 2rem;
    transition: transform 0.3s ease-in-out;
}

.feature:hover {
    transform: translateY(-10px);
}

.feature h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: white;
}

.feature p {
    font-size: 1rem;
    color: white;
}

.transFlag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, 
        #55CDFC 0%, #55CDFC 10%, 
        #F7A8B8 10%, #F7A8B8 20%, 
        #fff 20%, #fff 30%, 
        #F7A8B8 30%, #F7A8B8 40%, 
        #55CDFC 40%, #55CDFC 50%,
        #F7A8B8 50%, #F7A8B8 60%,
        #fff 60%, #fff 70%,
        #F7A8B8 70%, #F7A8B8 80%,
        #55CDFC 80%, #55CDFC 90%,
        #F7A8B8 90%, #F7A8B8 100%);
    opacity: 0.7;
    pointer-events: none;
    z-index: 0;
    animation: fadeInUp 0.5s ease-in-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 0.7;
        transform: translateY(0);
    }
}
